<div id="considerative-sections">
    <p class="text-justify" id="desist-act-body_res"></p>
    <p style="text-align: center;" class="bold titles-general">PARTE CONSIDERATIVA</p>

    <div id="act-des-cons-first-section">
        <strong id="act-des-cons-title-1" class="inline-text-strong"></strong>
        <p id="act-des-cons-body-1" class="inline-text"></p>
        <br><br>
    </div>

    <div id="act-des-cons-second-section" style="display: none;">
        <strong id="act-des-cons-title-2" class="inline-text-strong"></strong>
        <p id="act-des-cons-body-2" class="inline-text"></p>
        <br><br>
    </div>

    <div id="act-des-cons-third-section">
        <strong id="act-des-cons-title-3" class="inline-text-strong"></strong>
        <p id="act-des-cons-body-3" class="inline-text"></p>
        <br><br>

        <table id="docs-table" 
            border="1" 
            cellspacing="0" 
            cellpadding="4" 
            style="border-collapse: collapse; border: 1px solid black; width: 99%; margin: 0; margin-right: auto; text-align: center;">
        <thead>
            <tr>
            <th id="th-descripcion" style="width: 58%; text-align: center;">Descripción</th>
            <th id="th-vr" style="width: 17%; text-align: center;">VR</th>
            <th id="th-folios" style="width: 10%; text-align: center;">Folios</th>
            <th id="th-fecha" style="width: 15%; text-align: center;">Fecha Radicación</th>
            </tr>
        </thead>
        <tbody id="act-des-docs-body">
            <!-- filas dinámicas -->
        </tbody>
        </table>
        <br>
        <div id="docs-table-internal" style="display: none;">
            <p id="table-internal-text">
                Se relacionan a su vez los documentos de archivo que quedan como soporte:
            </p>
            <table
                id="docs-table-internal-table"
                border="1"
                cellspacing="0"
                cellpadding="4"
                style="border-collapse: collapse; border: 1px solid black; width: 99%; margin: 0; margin-right: auto; text-align: center;"
            >
                <thead>
                <tr>
                    <th id="th-int-contenido" style="width: 65%; text-align: center;">Contenido</th>
                    <th id="th-int-fecha" style="width: 20%; text-align: center;">Fecha</th>
                    <th id="th-int-folios" style="width: 15%; text-align: center;">Folios</th>
                </tr>
                </thead>
                <tbody id="act-des-docs-internal-body">
                <!-- filas dinámicas -->
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>