<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="document">
        <custom-header></custom-header>

        <!-- Title document -->
        <div class="document-title mt-5">
            <!-- Cargo / dependencia -->
            <p id="header-job" class="text-center m-0 p-0 text-base bold" style="font-size: 15;"></p>
            <!-- Título y máster en mayúsculas -->
            <p id="header-title" class="text-center leading-none bold m-0 p-0" style="font-size: 14;"></p>
            <!-- Línea de llamada más pequeña -->
            <p id="header-call" class="text-center text-xs mt-1 mb-4 m-0 p-0" style="font-size: 9;"></p>
        </div>

        <considerate-section></considerate-section>
        <resolutive-section></resolutive-section>

        <div id="final-document" class="avoid-break" style="text-align: left; font-size: 11pt; line-height: 1.6;">
            <p id="document-issued" style="font-weight: bold;">Expedida en [CIUDAD] el [FECHA]</p>
            <p id="notify-text" style="font-weight: bold;">NOTIFÍQUESE Y CÚMPLASE,</p>
            
            <br><br><br><br><br>
            
            <p id="signature-name" style="font-weight: bold; text-align: center; margin: 0;">
            </p>
            <p id="signature-job" style="font-weight: bold; text-align: center; margin: 0;">
            </p>
        </div>
          

        <custom-footer></custom-footer>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Convertir a mayúsculas los elementos necesarios
            document.getElementById("title").textContent = document.getElementById("title").textContent.toUpperCase();
            document.getElementById("master").textContent = document.getElementById("master").textContent.toUpperCase();
        });
    </script>
</body>
</html>


