<section id="des-resolutive-part">
  <p style="text-align: center;" class="bold titles-general">PARTE RESOLUTIVA</p>

  <p class="text-justify text-sm mb-4">
    En mérito de lo expuesto en la parte considerativa,
    <span id="resolutive-pronoun-job"></span> resuelve:
  </p>

  <strong class="inline-text-strong">ARTICULO N° 1. </strong>
  <p id="des-resol-1" class="inline-text"></p>
  <br><br>

  <strong class="inline-text-strong">ARTICULO N° 2. </strong>
  <p id="des-resol-2" class="inline-text"></p>
  <br><br>
  <p id="des-resol-2-2"></p>

  <strong class="inline-text-strong">ARTICULO N° 3. </strong>
  <p id="des-resol-3" class="inline-text"></p>
  <br><br>

  <strong class="inline-text-strong">ARTICULO N° 4. </strong>
  <p id="des-resol-4" class="inline-text"></p>
  <br><br>

  <strong class="inline-text-strong">ARTICULO N° 5. </strong>
  <p id="des-resol-5" class="inline-text"></p>
  <br><br>

  <strong class="inline-text-strong">ARTICULO N° 6. </strong>
  <p id="des-resol-6" class="inline-text"></p>
  <br><br>
</section>