<div id="considerative-sections">
    <p class="text-justify" id="body_res"></p>
    <p style="text-align: center;" class="bold titles-general">PARTE CONSIDERATIVA</p>

    <div id="des-cons-1">
        <div id="des-cons-first-section">
            <strong id="des-cons-title-1" class="inline-text-strong"></strong>
            <p id="des-cons-body-1" class="inline-text"></p>
            <br><br>
        </div>

        <div id="des-cons-second-section" style="display: none;">
            <strong id="des-cons-title-2" class="inline-text-strong"></strong>
            <p id="des-cons-body-2" class="inline-text"></p>
            <br><br>
        </div>

        <div id="des-cons-third-section" style="display: none;">
            <strong id="des-cons-title-3" class="inline-text-strong"></strong>
            <p id="des-cons-body-3" class="inline-text"></p>
            <br><br>
        </div>

        <div id="des-cons-fourth-section" style="display: none;">
            <strong id="des-cons-title-4" class="inline-text-strong"></strong>
            <p id="des-cons-body-4" class="inline-text"></p>
            <br><br>
        </div>

        <div id="des-cons-fifth-section" style="display: none;">
            <strong id="des-cons-title-5" class="inline-text-strong"></strong>
            <p id="des-cons-body-5" class="inline-text"></p>
            <br><br>
        </div>
    </div>
</div>