<div>
    <p style="text-align: center;" class="bold">PARTE CONSIDERATIVA</p>
    <div id="considerate-1-isSub" style="display: none;">
        <strong id="title-1">PRIMERO:</strong>
        <p id="body-1">{{ _BODY_PRIMERO_SUB }}</p>

        <strong id="title-2">SEGUNDO:</strong>
        <p id="body-2">{{ _BODY_SEGUNDO_SUB }}</p>

        <strong id="title-3">TERCERO:</strong>
        <p id="body-3">{{ _BODY_TERCERO_SUB }}</p>

        <strong id="title-4">CUARTO:</strong>
        <p id="body-4">{{ _BODY_CUARTO_SUB }}</p>

        <strong id="title-5">QUINTO:</strong>
        <p id="body-5">{{ _BODY_QUINTO_SUB }}</p>

        <strong id="title-6">SEXTO:</strong>
        <p id="body-6">{{ _BODY_SEXTO_SUB }}</p>

        <!-- Aquí se insertan dinámicamente los elementos del array -->
        <div id="sexto-array"></div>

        <strong id="title-7">SÉPTIMO:</strong>
        <p id="body-7">{{ _BODY_SEPTIMO_SUB }}</p>

        <strong id="title-8">OCTAVO:</strong>
        <p id="body-8">{{ _BODY_OCTAVO_SUB }}</p>

        <strong id="title-9">NOVENO:</strong>
        <p id="body-9">{{ _BODY_NOVENO_SUB }}</p>

        <div id="noveno-array"></div>

        <strong id="title-10">DÉCIMO</strong>
        <p id="body-10">{{ _BODY_DECIMO_SUB }}</p>
    </div>
    <div id="considerate-1-isNotSub" style="display: none;">
        <div id="isNotSub-first-section">
            <strong id="isNotSub-title-1"></strong>
            <p id="isNotSub-body-1"></p>
        </div>

        <div id="isNotSub-second-section">
            <strong id="isNotSub-title-2"></strong>
            <p id="isNotSub-body-2"></p>
            <div id="isNotSub-second-array"></div>
        </div>

        <div id="isNotSub-third-section" style="display: none;">
            <strong id="isNotSub-title-3"></strong>
            <p id="isNotSub-body-3"></p>
            <div id="isNotSub-third-array"></div>
        </div>
        <div id="isNotSub-fourth-section" style="display: none;">
            <strong id="isNotSubtitle-4"></strong>
            <p id="isNotSub-body-4"></p>
        </div>
        <div id="isNotSub-fifth-section" style="display: none;">
            <strong id="isNotSub-title-5"></strong>
            <p id="isNotSub-body-5"></p>
        </div>

        <div id="isNotSub-sixth-section" style="display: none;">
            <strong id="isNotSub-title-6"></strong>
            <p id="isNotSub-body-6"></p>
            <div id="isNotSub-sexto-array"></div>
            <div id="isNotSub-sexto-pay-array"></div>
        </div>

        <div id="open-sections"></div>
    </div>
</div>

<div id="hidden-data" hidden style="display: none;">
    <span id="hidden-CON_ORDER">{{ CON_ORDER }}</span>
    <span id="hidden-CON_ORDER_i">{{ CON_ORDER_i }}</span>
    <span id="hidden-BODY_SEXTO">{{ _BODY_SEXTO_SUB }}</span>
    <span id="hidden-SEXTO_ARRAY">{{ _SEXTO_ARRAY_SUB }}</span>
    <span id="hidden-NOVENO_ARRAY">{{ _NOVENO_ARRAY_SUB }}</span>
    <span id="hidden-SEGUNDO_ARRAY">{{ _SEGUNDO_ARRAY }}</span>
    <span id="hidden-TERCERO_ARRAY">{{ _TERCERO_ARRAY }}</span>
</div>
